@import "tailwindcss";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.filter-btn {
  padding: 8px 16px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.card {
  cursor: pointer;
}

.input {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
}

.active-filter {
  background-color: #30d6bb;
  color: white;
  border-color: #2bb69e;
}
